<section class="section has-background-light">
  <div class="container content">
    <h1 class="title"><%= @user.username %></h1>
          <% if @user == User.find(session[:user_id]) %>
    <h2 class="subtitle">Bio</h2>
          <% if @user.bio.nil? %>
          <div class="columns">
        <div class="column is-6">
            <form method="post" action="/users/<%= @user.slug %>">
              <textarea name="bio" id="bio" class="textarea"></textarea>
              <button type="submit" class="button is-small is-fullwidth is-primary is-outlined">
                <span class="icon"><i class="fas fa-edit"></i></span><span>Create Bio</span>
              </button>
            </form></div>
            </div>
          <% else %>
          <div class="columns">
        <div class="column is-6">
            <form method="post" action="/users/<%= @user.slug %>">
              <input type="hidden" name="_method" value="PATCH">
              <textarea name="bio" id="bio" class="textarea"><%= @user.bio %></textarea>
              <button type="submit" class="button is-small is-fullwidth is-primary is-outlined">
                <span class="icon"><i class="fas fa-edit"></i></span><span>Update Bio</span>
              </button>
            </form></div>
            </div>
          <div class="columns">
        <div class="column is-6">
            <form method="post" action="/users/<%= @user.slug %>">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="button is-small is-fullwidth is-danger is-outlined">
                <span class="icon"><i class="fas fa-minus-circle"></i></span><span>Delete Bio</span>
              </button>
            </form>
            </div>
            </div>
          <% end %>
        <% elsif !@user.bio.nil? %>
    <h2 class="subtitle">Bio</h2>
    <p><%= @user.bio %></p>
          <% end %>
    <h2 class="title">Collection</h2>
    <% BoardGame.all.each do |bg| %>
          <% if @user.board_games.include?(bg) %>
      <div class="columns">
        <div class="column is-narrow">
          <h3 class="title is-marginless">
            <a href="/board-games/<%= bg.slug %>">
              <%= bg.name %></a>
            <span class="tag ">
              <% bg.users.size > 1 ? @c = "collections" : @c = "collection" %>
              (in <%= bg.users.size.to_s + " " + @c %>)
            </span>
          </h3>
          <% unless bg.bgg_url.nil? %>
            <a href="<%= bg.bgg_url %>" class="has-text-grey is-size-7" target="_blank">
              <span class="icon"><i class="fas fa-external-link-alt"></i></span><span>View more info on BGG</span>
            </a>
          <% end %>
        </div>
          <% if @user == User.find(session[:user_id]) %>
        <div class="column is-2">
            <form method="post" action="/board-games/<%= bg.slug %>">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="button is-small is-fullwidth is-danger is-outlined">
                <span class="icon"><i class="fas fa-minus-circle"></i></span><span>Remove</span>
              </button>
            </form>
        </div>
          <% end %>
      </div>
    <% end %>
    <% end %>
    <div class="buttons">
    <a href="/users" class="button">
      <span class="icon"><i class="fas fa-arrow-left"></i></span><span>All Users</span>
    </a>
    </div>
    </div>
</section>
