<section class="section is-medium has-background-light">
  <div class="container content">
    <h1 class="title">All Board Games</h1>
    <% BoardGame.all.each do |bg| %>
      <div class="columns">
        <div class="column is-1">
          <% if @user.nil? %>
          <% elsif @user.board_games.include?(bg) %>
            <form method="post" action="/board-games/<%= bg.slug %>">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="button is-small is-fullwidth is-danger is-outlined">
                <span class="icon"><i class="fas fa-minus-circle"></i></span><span>Remove</span>
              </button>
            </form>
          <% else %>
            <form method="post" action="/board-games/<%= bg.slug %>">
              <button type="submit" class="button is-success is-small is-fullwidth is-outlined">
                <span class="icon"><i class="fas fa-plus-circle"></i></span><span>Add</span>
              </button>
            </form>
          <% end %>
        </div>
        <div class="column is-narrow">
          <h3 class="title is-marginless">
            <a href="/board-games/<%= bg.slug %>">
              <%= bg.name %></a>
            <span class="tag ">
              <% bg.users.size > 1 ? @c = "collections" : @c = "collection" %>
              (in <%= bg.users.size.to_s + " " + @c %>)
            </span>
          </h3>
          <% unless bg.bgg_url.empty? %>
            <a href="<%= bg.bgg_url %>" class="has-text-grey is-size-7" target="_blank">
              <span class="icon"><i class="fas fa-external-link-alt"></i></span><span>View more info on BGG</span>
            </a>
          <% end %>
        </div>
      </div>
    <% end %>
    <% unless @user.nil? %>
      <div class="container">
        <a href="/board-games/new" class="button is-success"><span class="icon">
            <i class="fas fa-plus-circle"></i>
          </span>
          <span>Add new game</span>
        </a>
      </div>
    <% end %>
  </div>
</section>
